/bootstrap/compiled.php
/vendor
/public/app/assets/bower_components
composer.phar
/app/config/local
composer.lock
.env.*.php
.env.php
.DS_Store
.idea
Thumbs.db
public/bower_components
public/.tmp
public/dist
public/node_modules
node_modules
public/npm-debug.log
sftp-config.json
_ide_helper.php
deploy.sh
public/dashboard/node_modules
static
